.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  width: 100%;
}

.menu a {
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
  font-weight: bold;
}

.menu a:hover {
  color: #ccc;
}

.menu a.active {
  color: #ccc;
  font-weight: bold;
}
