<div>
  <h1>Registrar-se</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" />
    <div *ngIf="emailControl?.invalid && emailControl?.touched" class="error-message">
      {{ getErrorMessage(emailControl) }}
    </div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" />
    <div *ngIf="passwordControl?.invalid && passwordControl?.touched" class="error-message">
      {{ getErrorMessage(passwordControl) }}
    </div>
    <button type="submit" [disabled]="!registerForm.valid">Submit</button>
  </form>
</div>


