<section>
  <div class="inicio">
    <h1>Bem-vindo ao Mundo dos Modelos!</h1>
    <!-- Adicione a classe "text-container" ao div que envolve o texto -->
    <div class="text-container">
      <p>Seja você um fotógrafo, designer, agência de publicidade ou simplesmente um entusiasta da moda e da beleza, o nosso site de modelos é o seu destino definitivo. Aqui, você encontrará uma ampla variedade de modelos profissionais e talentosos prontos para colaborar em seus projetos e dar vida às suas ideias.</p>
    </div>
  </div>
  <div class="imagem">
    <img src="https://img.freepik.com/fotos-gratis/modelo-de-tiro-completo-posando-de-vestido-preto_23-2149697969.jpg?w=740&t=st=1712692147~exp=1712692747~hmac=e756546116b87825a28087b00bc86768674b4eec5c9d32cbfc6bd651ac34c30f">
    <img src="https://img.freepik.com/fotos-gratis/mulher-de-tiro-completo-posando-de-vestido-preto_23-2149697979.jpg?w=740&t=st=1712692627~exp=1712693227~hmac=d9712d1c0beb36ae3c70cb98746f3e7059d770de38ecd69daa073173fa11c986">
  </div>
  <div class="list"><app-user-list class="lista-user"></app-user-list></div>
</section>
