<section>
  <div>
    <h1>Bem-vindo ao Mundo dos Modelos!</h1>
    <!-- Adicione a classe "text-container" ao div que envolve o texto -->
    <div class="text-container">
      <p>Seja você um fotógrafo, designer, agência de publicidade ou simplesmente um entusiasta da moda e da beleza, o nosso site de modelos é o seu destino definitivo. Aqui, você encontrará uma ampla variedade de modelos profissionais e talentosos prontos para colaborar em seus projetos e dar vida às suas ideias.</p>
    </div>
  </div>
  <img src="https://img.freepik.com/vetores-gratis/ilustracoes-de-desenho-de-moda-vector_23-2147492196.jpg?w=740&t=st=1712341647~exp=1712342247~hmac=fb606ccea1282971de4fb1a3c0169af2e8f88e27c98c72393a29ba7d1d6b7ba5">
  <div class="list"><app-user-list class="lista-user"></app-user-list></div>
  <app-contato></app-contato>
</section>
